    <mat-card>
      <div class="dashboard-card-content">
        <div class="user-info">
          <img *ngIf="avatar" [src]="avatar" alt="User avatar" class="user-avatar">
          <h2 *ngIf="username">Welcome, {{username}}!</h2>
        </div>
        

        <h1>{{availablePoints}}</h1>
        <p>points available</p>
        <p>{{totalPoints}} earned | {{redeemedPoints}} used</p>
        </div>
      <div>
        <a [routerLink]="['/scorecard']"><button mat-raised-button color="primary" class="dashboard-button">Enter Score</button></a>
       <a [routerLink]="['/redeem']"><button mat-raised-button color="accent" class="dashboard-button">Redeem Points</button></a>
       <a [routerLink]="['/settings']"><button mat-raised-button color="warn" class="dashboard-button">Manage Games</button></a>
      </div>
    </mat-card>
