

// Material “green 600” → #43a047
.success {
  color: #43a047 !important;
}

// Material “amber 600” → #ffb300
.error {
  color: #ffb300 !important;
}

// Material “red 600” → #e53935
.already {
  color: #e53935 !important;
}

.verify-container {
      width:90%;
      margin: 2rem auto;
      overflow-wrap: anywhere;
white-space: normal;
      
    }
