.login-card {
    max-width: 400px;
    width: 100%; /* Ensure the card doesn't exceed the max width */
    margin: 0 20px; /* Optional: to add some space on the sides */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-title {
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
  }
  
  .login-subtext {
    margin-top: 20px;
    font-size: 14px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  mat-form-field input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    margin-top: 20px;
  }
  

  
  .login-subtext a {
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-subtext a:hover {
    text-decoration: underline;
  }

  // Add these styles to your existing SCSS
.social-login {
  margin-top: 20px;
  text-align: center;
}

.discord-button {
  width: 100%;
  background-color: #7289DA !important; // Discord's brand color
  color: white !important;
  display: flex;
}

.discord-icon {
  height: 1rem;
  margin-right: 0.5rem;
}